
DATABASE_URL=postgresql://postgres:[READ_THE_DOCS].supabase.co:5432/postgres
DIRECT_URL=postgres://postgres:[READ_THE_DOCS].supabase.co:6543/postgres

NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=pk_test_aGFuZHktbWFncGllLTI1LmNsZXJrLmFjY291bnRzLmRldiQ
CLERK_SECRET_KEY=sk_test_vtVjo0N0WNZ1F38a0kt7WUGyLGc02BVXqn0BmQB1G3